html[data-theme="dark"] a {
  color: #b0e3ef;
}

.footer a {
  color: #fefefe;
}

.stack-icons img {
  // width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 4px;
}

.stack-icons p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-bottom: 0.5rem;
}

.stack-icons p:last-child {
  margin-bottom: 0;
}
